.grid-container {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    width: 50%;
    height: auto;
    margin: 0 auto;
    flex: 0 0 0;
}

.grid-cell {
    width: calc(100% / col);
    height: calc(100% / row);
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}
